@font-face
{
    font-family: "pokemon";
    src: url("../fonts/pokemon-classic.ttf") format("TrueType");
}

body *
{
    user-select: none;
}

.hidden-values
{
    display: none;
}

.game-interface
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-family: pokemon;
}

/**
*  BATTLE CONTAINER WITH POKEMON SPRITES AND PV
*/

.game-interface .battle-container
{
    position: absolute;
    width: 100%;
    height: 75%;
    cursor: initial;
}

/**
* IA PART
*/

.game-interface .battle-container .ia-container
{
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.game-interface .battle-container .stats-container 
{
    position: absolute;
    width: 400px;
    height: 100px;
    box-shadow: 6px -2px 15px 1px rgba(0,0,0,0.42);
    border: 1px solid black;
    background: white;
}

.game-interface .battle-container .ia-container .stats-container 
{
    left: 10%;
}

.game-interface .battle-container .user-container .stats-container 
{
    right: 10%;
}

.game-interface .battle-container .user-container .stats-container:nth-of-type(2)
{
    display:none;
}

.game-interface .battle-container .user-container .stats-container:nth-of-type(3)
{
    display:none;
}

.game-interface .battle-container .stats-container .pokemon-name
{
    position: absolute;
    font-size: 20px;
    text-transform: uppercase;
    left: 10px;
    top: 10px;
}

.game-interface .battle-container .stats-container .pokemon-level
{
    position: absolute;
    font-size: 20px;
    text-transform: uppercase;
    right: 10px;
    top: 10px;
}

.game-interface .battle-container .stats-container .pokemon-pv
{
    position: absolute;
    font-size: 20px;
    text-transform: uppercase;
    left: 10px;
    bottom: 10px;
}

.game-interface .battle-container .stats-container .pokemon-pv-seekbar
{
    position: absolute;
    width: 300px;
    height: 2px;
    right: 15px;
    bottom: 16px;
    transform-origin: 100% 100%;
    background: green;
}

.game-interface .battle-container .sprite-container 
{
    position: absolute;
    width: 100px;
    height: 100px;
    transform: scale(2);
}

.game-interface .battle-container .sprite-pokeball
{
    position: absolute;
    width: 100px;
    height: 100px;
    transform: scale(2);
    transform-origin: 50% 50%;
    right: 20%;
    display: none;
    justify-content: center;
    align-items: center;
}

.game-interface .battle-container .sprite-pokeball.lugiaEscaped
{
    animation-name: lugiaEscaped;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes lugiaEscaped
{
    0% {transform: scale(2)}
    10% {transform: scale(2) translateY(20px)}
    30% {transform: scale(2) translateY(20px) rotateZ(-30deg)}
    60% {transform: scale(2) translateY(20px) rotateZ(30deg)}
    90% {transform: scale(2) translateY(20px) rotateZ(0deg)}
    100% {transform: scale(2) translateY(20px) rotateZ(0deg)}
}

.game-interface .battle-container .ia-container .sprite-container 
{
    right: 20%;
}

.game-interface .battle-container .ia-container .sprite-container.spriteAnim
{
    animation-name: spriteMoveWhenLugiaAttack;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
}

.game-interface .battle-container .user-container .sprite-container 
{
    left: 20%;
}

.game-interface .battle-container .user-container .sprite-container.spriteAnim
{
    animation-name: spriteMoveWhenAttack;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
}

.game-interface .battle-container .user-container .sprite-container:nth-of-type(5)
{
    display: none;
}

.game-interface .battle-container .user-container .sprite-container:nth-of-type(6)
{
    display: none;
}


@keyframes spriteMoveWhenAttack
{
    0% {transform: scale(2)}
    100% {transform: scale(2) translateX(20px) translateY(-20px)}
}

@keyframes spriteMoveWhenLugiaAttack
{
    0% {transform: scale(2)}
    100% {transform: scale(2) translateX(-20px) translateY(20px)}
}

/**
*  USER PART
*/

.game-interface .battle-container .user-container
{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    display: flex;
    align-items: center;
}

.game-interface .battle-container .user-container .stats-container .pokemon-pv-ratio
{
    position: absolute;
    bottom: 30px;
    right: 10px;
}

/**
* BATTLE ACTIONS FOR USERS
*/

.game-interface .battle-actions
{
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
}

.game-interface .battle-actions-left
{
    position: absolute;
    width: 50%;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.game-interface .battle-actions-right
{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    cursor: pointer;
}

.game-interface .battle-actions-right .battle-action
{
    position: absolute;
    width: 50%;
    height: 50%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background: white;
}

.game-interface .battle-actions-right .attack-action
{
    background: white;
    border: 1px solid black;
}

.game-interface .battle-actions-right .capture-action
{
    right: 0;
    border: 1px solid black;
}

.game-interface .battle-actions-right .pokemon-action
{
    bottom: 0;
    border: 1px solid black;
}

.game-interface .battle-actions-right .escape-action
{
    bottom: 0;
    right: 0;
    border: 1px solid black;
}


/**
* ATTACK CONTAINER
*/

.game-interface .attack-container
{
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    display: none;
    background: white;
    cursor: pointer;
}

.game-interface .attack-container.attacks-artikodin
{
    display: none;
}

.game-interface .attack-container.attacks-elekthor
{
    display: none;
}

.game-interface .attack-container .attack
{
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.game-interface .attack-container .attack p:first-child
{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.game-interface .attack-container .attack:nth-child(2)
{
    right:0;
}

.game-interface .attack-container .attack:nth-child(3)
{
    bottom:0;
}

.game-interface .attack-container .attack:nth-child(4)
{
    right: 0;
    bottom: 0;
}

/**
*   CHANGE POKEMON CONTAINER
*/

.game-interface .change-container
{
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    border: 1px solid black;
    display: none;
    background: white;
}

.game-interface .change-container .first-pokemon
{
    position: absolute;
    width: 30%;
    height: 100%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    cursor: pointer;
}

.game-interface .change-container .first-pokemon-2
{
    position: absolute;
    width: 30%;
    height: 100%;
    right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    cursor: pointer;
}

.game-interface .change-container .second-pokemon
{
    position: absolute;
    width: 30%;
    height: 100%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    cursor: pointer;
}

.game-interface .change-container .third-pokemon
{
    position: absolute;
    width: 30%;
    height: 100%;
    right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    cursor: pointer;
}
