@font-face
{
    font-family: "pokemon";
    src: url("../fonts/pokemon-classic.ttf") format("TrueType");
}

.intro-container
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.intro-container .subtitle
{
    position: absolute;
    color: white;
    font-family: pokemon;
    font-size: 2vw;
    text-align: center;
    will-change: opacity;
}

.intro-container .subtitle.subtitleAppear
{
    animation-name: subtitleAppear;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes subtitleAppear
{
    0% {opacity:1}
    50% {opacity:0}
    100% {opacity:1}
}

.pseudo-container
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: black;
}

.pseudo-container form .field 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pseudo-container form .field label
{
    position: absolute;
    font-family: pokemon;
    color: white;
    font-size: 25px;
    top: 40%;
}

.pseudo-container form input
{
    position: absolute;
    width: 150px;
    height: 20px;
    border-radius: 6px;
    background: white;
    font-family: pokemon;
    font-size: 13px;
    text-align: center;
}